<script src="/js/script.js"></script>
<footer class="baseboard">
    <p>Repositório <a target="_blank" href="https://github.com/denerbatista/DB_FLIX" rel="noopener noreferrer"> GitHub </a>deste projeto</p><br>
    <p>Desenvolvido por <a target="_blank" href="https://www.linkedin.com/in/dener-gomes-batista-83894168/" rel="noopener noreferrer">Dener Batista</a></p>
</footer>