<script src="https://kit.fontawesome.com/71f92ea1b3.js" crossorigin="anonymous"></script>
<% if(message != "") {  %>
    <section id="message">
        <p><%= message %></p> <span id="close">&times;</span>
    </section>
  <% } %>
<header>
    <div class="container">            
        <img src="https://fontmeme.com/permalink/220507/016ec16440bedf8baf1fd00fbbcc77d4.png" alt="Logo DB FLIX" class="logo">            
        <nav>
            <a href="/">Início</a>
            <a href="/criar">Criar</a>
        </nav>
    </div>
</header>